/* Start.js-------------------------- */
.start {
  text-align: center;
  color: white;
}

.start-btn {
  width: 10rem;
  height: 3rem;
  font-size: 1rem !important;
  background-color: teal !important;
}

.start-btn:hover {
  cursor: pointer;
}

/* Quizzes.js----------------------------- */
.quizzes {
  color: white;
  margin: 1rem 3rem;
}



.quizzes-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.quizzes-header button {
  color: white;
  padding: 0;
  cursor: pointer;
}

.quizzes h1 {
  text-align: center;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.check-btn {
  font-size: 1rem;
  height: 3rem;
  display: block !important;
  margin: 20px auto 20px auto !important;
  background-color: teal !important;
}

.quizzes-footer {
  display: flex;
}

/* Quiz.js---------------------- */
.quiz {
  margin: 0 25px;
}

.quiz p {
  font-size: 1rem;
  margin: 0;
}

.ans-btn {
  height:auto;
  margin: 10px 0px 0 10px !important;
  width: auto;
  border-radius: 10px !important;
  background-color: white !important;
  color: black !important;
}

.gray {
  background-color: gray !important;
  color: white !important;
}
